# ===================================================================
# plottwist deployment requirements file
# ===================================================================
artellapipe-libs-naming==0.0.1
artellapipe-libs-artella==0.0.1
artellapipe-config==0.0.9
artellapipe==0.0.19
artellapipe-dccs-maya==0.0.1
artellapipe-launcher==0.0.13
artellapipe-launcher-plugins-dccselector==0.0.4
artellapipe-tools-welcome==0.0.7
artellapipe-tools-changelog==0.0.2
artellapipe-tools-bugtracker==0.0.3
plottwist-config==0.0.2
plottwist-bootstrap==0.0.1
plottwist==0.0.10
